@font-face {
    font-family: Azonix;
    src: url(../fonts/Azonix.otf);
}
@font-face {
    font-family: BankGothic;
    src: url(../fonts/bank-gothic-light-bt.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --p-font: Azonix;
    --s-font: BankGothic;

    --bg-color:#3F4349;
    --primary-color:#141416;
    --second-color:#FD6262;
    --third-color:#2DB6D4;
    --fourth-color:#1862F7;

    --text-color: rgb(138,138,138);

    --fs-title: 1.6rem;
    --lh--title: 2rem;

    --margin: 20px;
}

body{
    background-color: var(--primary-color);
    color: #fff;
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--p-font);
}

p{
    font-family: var(--s-font);
}

.container{
    width: 90%;
    margin: 0 auto;
}

/* NAVIGATION MENU */
.nav{
    position: relative;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 150px;
    height: 70px;
    overflow: hidden;
}

.logo>.logo-img{
    width: inherit;
    object-fit: cover;
    transform: translateY(-15px); /*Puede que esta propiedad se quite, depende la imagen que entregue al final (PNG)*/
    background-repeat: no-repeat;
}

.btn-menu{
    font-size: 2rem;
    border: none;
    background: none;
    color: #fff;
    cursor: pointer;
    display: none;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu-item{
    list-style: none;
}

.nav-menu-item:not(:last-child){
    margin-right: 20px;
}

.nav-menu-item .nav-menu-link{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-family: sans-serif;
}

.nav-menu-item .nav-menu-link.menu-link__active{
    color: var(--second-color);
}

/* FOOTER SECTION */
.footer{
    padding-top: 200px;
    height: 520px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    color: var(--text-color);
}


.footer-logo{
    width: 150px;
    height: 70px;
    overflow: hidden;
}

.footer-logo-img{
    width: inherit;
    height: inherit;
    object-fit: cover;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

.company-info>.info{
    color: var(--text-color);
    text-decoration: none;
    font-family: var(--s-font);
    font-size: 1.1rem;
    margin-bottom: 10px;
    display: block;
}

.footer-nav-menu .footer-nav-menu-item{
    list-style: none;
}

.footer-nav-menu-item:not(:last-child){
    margin-bottom: var(--margin);
}

.footer-nav-menu-item .footer-nav-menu-link{
    text-decoration: none;
    color: var(--text-color);
    font-family: var(--s-font);
    font-size: 1.3rem;
}

.form-contact{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: var(--s-font);
    margin-top: var(--margin);
}

.form-contact>label{
    margin-bottom: 10px;
}

.form-contact>.input-contact{
    background-color: var(--primary-color);
    border: 2px solid var(--bg-color);
    border-radius: 5px;
    padding: 15px;
    color: #fff;
    width: 300px;
    margin-bottom: 10px;
}

.form-contact>.btn-submit{
    background: var(--primary-color);
    border: 2px solid var(--bg-color);
    padding: 15px 25px;
    color:var(--bg-color);
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--s-font);
}

.form-contact>.btn-submit:hover{
    background: #fff;
    border: 2px solid #fff;
    color:var(--first-color);
}

.icons_follow_us{
    margin-top: 14px;
}

.icons_follow_us a{
    color: var(--bg-color);
    font-size: 2rem;
    margin-right: 5px;
}

@media screen and (max-width:751px) {
    .btn-menu{
        display: block;
        cursor: pointer;
    }
    .btn-menu:focus:not(:focus-visible){
        outline: none;
    }
    .nav-menu{
        flex-direction: column;
        align-items: center;
        background: var(--primary-color);
        position: fixed;
        left: 0;
        top: 100px;
        width: 100%;
        padding: 20px 0;
        height: 100vh;
        overflow-y: auto;
        justify-content: flex-start;
        z-index: 1000;
        left: 100%;
        transition: left 0.3s;
    }

    .nav-menu-item{
        line-height: 70px;
    }

    .nav-menu-item .nav-menu-link{
        font-size: 1.5rem;
    }

    .nav-menu_visible{
        left: 0;
    }
}

@media screen and (max-width:479px) {
    .footer{
        justify-content: center;
        align-items: center;
    }
    .company-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }
    .footer-logo{
        margin-bottom: 20px;
    }
    .footer-nav-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }
    .contact{
        text-align: center;
    }
    .form-contact{
        align-items: stretch;
        margin-bottom: 40px;
    }
    .icons_follow_us{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
}
